.picture-class{
    width: 17.5rem;
    border: solid 0.2rem #CD2828;
}

.about-me-title{
    font-size: xx-large;
    color: #CD2828;
}

.about-me-text{
    font-size: x-large;
    color: #3C4783;
    max-width: 20rem;
}

@media only screen and (max-width: 600px){
    .main-div{
        flex-direction: column;
    }

    .picture-class{
        width: 10rem;
    }
    
    .profile-image{
        margin: 1rem;
    }

    .about-me-title{
        font-size: x-large;
    }
    
    .about-me-text{
        font-size: large;
        max-width: 10rem;
    }

    .about-me{
        margin: 1rem;
    }
}